
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
}

.main-window {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.new-flow-button {
  padding: 20px 40px;
  font-size: 1.5rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-flow-button:hover {
  background-color: #45a049;
}